.App {
  width: 100vw;
  height: 5vh;
  text-align: center;
  display: inline-flex;
  justify-content: space-evenly;
  justify-self: flex-start;
  align-items: center;
  background-color: #06303a;
  color: aliceblue;
  margin-bottom: 5vh;

}

.link {
  color: #80ad9c;
  
}
.body {
  background-color: #083c49;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

button {
  padding: 5px;
  color: aliceblue;
  background-color: #06303a;
  border: none;
}

button:hover {
  cursor: pointer;
}

body {
  margin: 0px;
  padding: 0px;
}

